h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 26.4px;
        border-top: 15px solid #E8434E;
        text-align: center;
        padding-top: 30px;
}

#info {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: gray;
        font-size: 20px;
        text-align: center;
}
