h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 65px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 26.4px;
        border-top: 40px solid #E8434E;
        text-align: center;
        margin-top: 15px;
        padding-top: 30px;
        margin-right: none;
        margin-left: none;
        margin-bottom: 2%;
}

#info {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: gray;
        font-size: 20px;
        text-align: center;
}

body {	
	margin-left: 0px;
        margin-right: 0px;
        background: #FAF5F5;
}
