#title {
	font-family: 'Bungee Shade', cursive;
}

body {
	font-size: 14px;
}

#restrict {
	height: auto; 
	width: auto; 
    max-width: 406px; 
    max-height: 314px;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
}

.transform-center {
	transform: translate(-50%, -50%);
}


.left {
	max-width: 39%;
	min-width: 275px;
	margin-left: 15%;
	margin-top: 4.5%;
	margin-bottom: 4.5%;
}

h2 {
	font-family: 'Permanent Marker', cursive;
}
